.fas.btn {
    padding: 0;
    float: left
}

.micro-number {
    width: 80px;
}

.route-of-magic {
    padding: 3px;
    border: 2px;
    border-color: #FA8C59;
    border-style: solid;
}

.table-race-info {
    font-size: 80%;

}

.cursor-pointer {
    cursor: pointer;
    color: #E76B0A
}

.table-attrs table {
    width: 100%;
}

.sticky-bar {
    position: sticky;
    position: -webkit-sticky; /* Required for Safari */
    top:0;
    background: #fff;
    z-index: 10;
}

.list-inline {
    margin-bottom: 0rem;
}

.cart-body {
    padding: 0.5 rem !important;
}


.attributes-down {
    margin-top: 20px;
}

.piramyd-block {
    background-image: url('pyr.jpg');
    background-repeat: no-repeat;
    height:100%;
    background-size: contain;
    margin-left: 150px; 
}

.piramyd-block .endure-block {
    -moz-transform: rotate(-58deg); /* Для Firefox */
    -ms-transform: rotate(-58deg); /* Для IE */
    -webkit-transform: rotate(-58deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-58deg); /* Для Opera */
    transform: rotate(-58deg);
    width: 181px;
    position: absolute;
    top: 30px;
    left: 106px
}

.piramyd-block .endure-block li {
    -moz-transform: rotate(57deg); /* Для Firefox */
    -ms-transform: rotate(57deg); /* Для IE */
    -webkit-transform: rotate(57deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(57deg); /* Для Opera */
    transform: rotate(57deg);
    padding-right: 7px;
}

.piramyd-block .endure-block li:not(:first) {
    padding-right: 5px;
}